<ion-view view-title="Patient Type">
    <ion-header-bar align-title="left" class="bar-positive">
        <h1 class="title">Register</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="John">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Suhr">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Age</span>
                <input type="text" placeholder="20">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Photo</span>
                <button class="button button-icon icon ion-camera" ng-click="upload()"></button>
            </label>

        </div>
    </ion-content>
</ion-view>
